*{
    margin: 0px;
    padding: 0px;
    font-style: arial;
    

}
body{
    /*background-image: url(b2.jpg);*/
    background-color:#8eb69b;
    background-size: cover;
}
.navbar{
    height: 60px;
    background-color:#222f3d;
    position: fixid;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: WHITE;
}
.nav-logo{height: 50px;
    width: 100px;
    
}
.logo{
    height: 50px;
    width: 100px;
    background-image: url(megalogo.avif);
    background-size:cobver;
    

}
.border:hover{
    border: 1.5px solid white;
}
.adr-icon{
    display: flex;
}
#adr-diliver{
    margin-left: 15px;
    font-size: 0.8rem;
    color: #cccccc;
}
#adr-country{
    margin-left: 3px;
    font-size: 1rem;
}
/*       box 3      */
.nav-search{
display: flex;
width: 620px;
height: 40px;
justify-content: center;
align-items: center;
margin-left: 20px;
}
.navi-search{
    width: 520px;
height: 40px;
border: none;
}
.search{
width: 520px;
height: 40px;
border: none;
font-size: 1rem;
}
.option{
height: 40px;
border: none;
width: 50px;
display: flex;
align-items: center;
justify-content: center;

}
#select{
height: 40px;
border: none;
width: 50px;
text-align: center;
font-size: 1rem;
background-color: #f5e9e9;
border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.op1{
    font-size:1.2rem;
}
/*.button{
    height: 40px;
    width: 50px;
    border: none;
}*/
.button-one{
    height: 40px;
    width: 50px;
    border: none;
    font-size: 1.3rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; 
}
.nav-search:hover{
    border: 2px solid orange;
}
/* BOX 4  */
.p2{
    border: none;
    font-weight: 700;
}
.account{
    color: white;
  font-size: 0.87rem;
    border :none;
    font-weight: 700;
}
.p1{
    font-size: 0.7rem;
}
/** BOX 5 
same as BOX 5 **/

/** BOX 6 **/

.nav-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700px;
}
.nav-cart i{
font-size: 50px;
}
/* shop section */
.element{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}
/*box 1*/
.box{
    height: 400px;
    width: 400px;
    margin-bottom: 20px;
    margin-top: 40px;
    background-color:#8eb69b;
}
.box:hover{
    box-shadow: 4px 5px 6px black;
}
.image1{
    width: 250px;
    height: 250px;
    margin-left: 70px;
    background-image: url(/gymdumbles.png);
    background-size: cover;
}
.image:hover {
    box-shadow: 6px 7px 8px grey;
}
.aboutproduct{
margin: 10px 20px 0px 20px  ;
margin-bottom: 10px;
}
h3{
    display: flex;
}
#head{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*box 2*/

.image2{
    width: 250px;
    height: 250px;
    margin-left: 70px;
    background-image: url(/weight\ belt.png);
    background-size: cover;
}
/*box3*/
.image3{
    width: 250px;
    height: 250px;
    margin-left: 70px;
    background-image: url(gripper.png);
    background-size: cover;
}
/* box4 */
.image4{
    width: 250px;
    height: 250px;
    margin-left: 70px;
    background-image: url(glovees.png);
    background-size: cover;
}
/*box5*/
.image5{
    width: 250px;
    height: 250px;
    margin-left: 70px;
    background-image: url(/equipment.png);
    background-size: cover;
}
/* box6 */
.image6{
    width: 250px;
    height: 250px;
    margin-left: 70px;
    background-image: url(trackpant.png);
    background-size: cover;
}